[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
scipy = "*"
seaborn = "*"
scikit-learn = "*"
jupyter = "*"
ipykernel = "*"
geopandas = "*"
geemap = "*"
ee = "*"
googlemaps = "*"
geedim = "*"
jupyterlab-widgets = "*"
ipywidgets = "*"
pyproj = "*"
imageio = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
